/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

/app/Resources/assets/*
!/app/Resources/assets/.gitkeep
/web/media/cache/*
!/web/media/cache/.gitkeep
/web/js/*
!/web/js/.gitkeep
/web/css/*
!/web/css/.gitkeep